In [4]:
list = [3, 4, 5, 20, 5, 25, 1, 3]

In [5]:
list.pop(1)

4

In [6]:
list

[3, 5, 20, 5, 25, 1, 3]

In [7]:
y = 8

z = lambda x : x * y

print z(6)

SyntaxError: invalid syntax (Temp/ipykernel_13820/1574945845.py, line 5)

In [8]:
def is_prime(number):
    if number <= 1:
        return False

    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False

    return True

In [9]:
numbers = [341, 6547, 97, 56981]
prime_count = 0

for number in numbers:
    if is_prime(number):
        prime_count += 1

print("Number of prime numbers:", prime_count)

Number of prime numbers: 2

In [11]:
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [12]:
import pandas as pd
data = pd.read_csv(r"C:\Users\HP PAVILION\Downloads\AML\PBA2\pba2\Supervised-Sprint_assessment_data-1147-x-1146\Automobile_data.csv")
max_price = data['price'].max()
most_expensive_cars = data[data['price'] == max_price]
manufacturers = most_expensive_cars['company'].unique()
print("Manufacturer(s) of the most expensive car(s):", manufacturers)

Manufacturer(s) of the most expensive car(s): ['mercedes-benz']

In [15]:
six_cylinder_cars = data[data['num-of-cylinders'] == 'six']
average_mileage = six_cylinder_cars['average-mileage'].mean()
print("Average mileage of cars with six-cylinder engines:", average_mileage)

Average mileage of cars with six-cylinder engines: 17.181818181818183

In [16]:
sedans_more_than_120hp = data[(data['body-style'] == 'sedan') & (data['horsepower'] > 120)]
sedans_count = sedans_more_than_120hp.shape[0]
print("Number of sedans with more than 120 horsepower:", sedans_count)

Number of sedans with more than 120 horsepower: 10

In [18]:
cylinder_mapping = {
    'four': 4,
    'six': 6,
    'five': 5,
    'eight': 8,
    'two': 2,
    'twelve': 12,
    'three': 3
}

data['num-of-cylinders'] = data['num-of-cylinders'].map(cylinder_mapping)

filtered_data = data[(data['num-of-cylinders'] <= 6) & (data['average-mileage'] > 20)]
average_price = filtered_data['price'].mean()
print("Average price of vehicles with 6 or fewer cylinders and an average mileage of more than 20:", average_price)

Average price of vehicles with 6 or fewer cylinders and an average mileage of more than 20: 10074.658536585366

In [19]:
heart = pd.read_csv(r"C:\Users\HP PAVILION\Downloads\AML\PBA2\pba2\Supervised-Sprint_assessment_data-1147-x-1146\heart.csv")
USA_Housing = pd.read_csv(r"C:\Users\HP PAVILION\Downloads\AML\PBA2\pba2\Supervised-Sprint_assessment_data-1147-x-1146\USA_Housing.csv")